@media screen and (max-width: 479px){.button{width:200px;margin:15px 10px 5px 10px}.section-cta{padding:7% 0}.section-cta .title{font-size:1.3em;line-height:1.6em}.img-aline{width:75%}.equipebox{width:80%;margin:3% 0}.portfolio-container .port-item{width:85%;height:250px;margin:4% auto}.small-container .arrowLeft,.small-container .arrowRight{height:35px;font-size:1.8em}.filter-container{-ms-flex-wrap:wrap;flex-wrap:wrap}.filter-container .categ{width:30%;text-align:center;margin-top:2%}.filter-container .categ span{display:none}}
